body {
    margin: 0;
    color: azure;
    font-family: Arial, sans-serif;
    background-color: #005706;
}

header {
    background-color: #001128;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #1362da;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 6px;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: #1450a3;
}

.seccion {
    background: rgb(48, 39, 39);
    margin: 20px auto;
    width: 90%;
    max-width: 950px;
    padding: 20px;
    border-radius: 12px;
    color: azure;
}

h1 {
    color: #1f5bb8;
}

h2 {
    font-weight: normal;
    color: #ededed;
    line-height: 1.4;
}
